* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    padding: 0;
    margin: 0;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #E0D8CC, #d28323 90%);
}

h1 {
    display: inline-block;
    margin-top: 20px;
    font-weight: 700;
    background: linear-gradient(to right, #708F96, #364649);
    background-clip: text;
    color: transparent;
}

#container {
    width: calc(60%);
    min-width: 400px;
    max-width: 480px;
    border-radius: 15px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

#container p {
    margin-top: 30px;
}

form#sign_up_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px auto 25px;
}

form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    /*line-height: 1.2rem;*/

    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.policy_pane {
    display: flex;
    width: 80%;
    align-items: flex-start;
}

.policy_pane label {
    text-align: left;
}

.policy_pane input[type=checkbox] {
    display: inline;
    width: auto;
    margin: 5px 8px 0 0;
}

label[for="policy"] a {
    text-decoration: none;
}

button.sign_up_btn {
    width: 80%;
    margin: 16px auto 0;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

button.sign_up_btn:hover {
    background-color: #E2DCCD;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
    font-weight: 700;
}
